/************************************************************************************************

 * debug.css
 * Project HULK
 * Created by Sanjeev Pandey on 5/3/19.
 
 ************************************************************************************************/
/*
[class*="col"]:hover { background: #000; }
[class*="col"] [class*="col"]:hover { background: red; }
[class*="col"]:hover { background-color:rgba(194,57,142,0.2);
    border:1px solid rgba(194,57,142,1);}
[class*="col"] [class*="col"]:hover { background-color:rgba(194,57,142,0.2);
    border:1px solid rgba(194,57,142,1);}
*/

/* #thumbnail {
	display: block;

	width: 150px;
	height: 150px;
}

#thumbnail:hover + #entitlement_lock {
    display: block;
}

#entitlement_lock {
	display: none;

	color: #ffffff;
	background-color: #000000;
  text-align: center;
  
  width: 130px;
  padding: 10px;
} */