/************************************************************************************************ 

* style.css 
* Clientless Sample JS App 
* Created by Sanjeev Pandey on 5/3/19. 

************************************************************************************************/
html, body {
  margin: 0;
  height: 100%;
}

.keys {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.instruction {
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  height: 50px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
}

#unauthe {
  position: absolute;
  margin-top: 10px;
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding: 6px;
  margin: 5px;
  border-radius: 50px;
}

.smartdevice {
  border: #000 solid 0;
  height: 300px;
}

.required ::placeholder {
  color: #18d26e;
}

::placeholder {
  color: lightgray;
  opacity: 0.9; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fffae6;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
  color: #fffae6;
 }

.mvpd_picker {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
  margin: 5px;
}

.mvpd_picker-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto;
  border: 1px solid #888;
  width: 20%;
  position: relative;
}

#mvpdList {
  width: 100%;
  border-radius: 5px;
  margin: 5px;
}

.widget {
  margin-top: 30px; 
}

.login-form {
  margin: 5% 0px 0px 5%;
}

.login-stuff {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  /* text-transform: uppercase; */
  /* display: inline-block;
  font-size: 18px;
  line-height:1.33333333;
  font-weight: 500;
  border-radius: 50px;
  padding-right: 25px;
  padding-left: 25px; */
  /* border: #3a3f51 solid 2px; */
}
.login-stuff button:hover, .login-stuff button:focus {
  color: #fff;
}

#thumbnail {
  position: fixed;
  z-index: 1;
 /* left: 0;
  top: 0;
  */
  width: 320px;
  height: 240px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 40px;
  padding-left: 70px;
}

#thumbnail img {
  width: 180px;
  height: 180px;
}

.trakcing-info {
  float: right;
  margin-left: 28%;
}

#uip {
  width:110px;
  background-color: #000;
  color: #fffae6;
  margin: 5px;
}

.App-logo {
  width: 40px;
  margin-left: 50%;
}

.gps_ring {
  display: none;
  border: 3px solid #999;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 /*opacity: 0.0*/
  margin: 80 2.5%;
}
#img img {
  width: 55px;
  height: 50px;
  float: right;
  filter: grayscale(1);
  filter: blur(115);
  display: none;
}
.select, input[type=text] {
  width: 135px;
  padding: 6px;
  display: inline-block;
  box-sizing: border-box;
  border: #888 solid 1px;
  background-color:transparent;
  /* color:#edf1f2; */
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type=password] {
  width: 130px;
  padding: 6px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button, input[type=submit] {
    /* background-color: black; */
    /* color: white; */
    padding: .7em;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

#stageProdEnvSet {
  display: none;
}

#create {
  background-color:#BB83FC;
  color: #000;
}

button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ffa64d;
 /*#f44336;
 */
}
.submitbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #8c8c8c;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

span.psw {
  float: left;
  padding-top: 0;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  -moz-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s 
}

.hello {
  color: red;
  background: url('./icon.png');
}
.rotate {
 /* Safari */
  -webkit-transform: rotate(-90deg);
 /* Firefox */
  -moz-transform: rotate(-90deg);
 /* IE */
  -ms-transform: rotate(-90deg);
 /* Opera */
  -o-transform: rotate(-90deg);
 /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(-90deg);
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}
::selection {
  background: #b8a07e;
  color: #fff;
}
.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
 /*30px;*/
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}
.btn:hover, .btn:focus {
  color: #fff;
}
.padDiv {
  padding: 30px 20px;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 38px;
 /*changed from 50 to 38*/
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}
.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}
.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}
.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}
.hvr-shutter-in-horizontal::before {
  background: #333;
}
.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}
.mb-30 {
  margin-bottom: 30px;
}
#logoutbtn {
  cursor: pointer;
}
#contact #sendmessage, #unregs {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 20px;
}
#contact #errormessage, #unreges {
  color: #FFFFFF;
  display: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  width: 270px;
  background-color:#B00020;
  position: relative;
  filter: opacity(.8);
}
#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}
#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#mpicker{
  width: 90%; 
  border-radius: 5px; 
  padding: 15px; 
  margin: 5% 0px 0px 5%;
}

.tb {
  width:100%;
  height:200px;
  overflow: auto;
  border: #888 solid 1px;
  border-radius: 5px;
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  color: #58666e;
  background-color: #edf1f2 !important;
  background-image: none;
  filter: none;
}

.apgticker, .console {
  margin: 5px;
}

/*3D/shadow*/
#mpicker {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  z-index: 3;
}
/*-----------------------------------------------------------------------------------*/
/* Footer 
/*-----------------------------------------------------------------------------------*/
#footer {
  background: #fffae6;
 /*#f7f7f7;
 */
  padding-top: 10px;
  padding-bottom: 10px;
  bottom:0;
  left:0;
  z-index: 3;
  border-bottom-left-radius: 30px;
  width: 91%;
}
.credits {
  font-size: 13px;
}
@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
 }
  to {
      transform: rotate(360deg);
 }
}
@media (max-width: 360px){
  .sm_none {
      display: none;
 }
  .offset {
      margin-left: 10%;
      padding: 0;
 }
}
@-webkit-keyframes pulsate {
  0% {
     -webkit-transform: scale(0.1, 0.1);
     transform: scale(0.1, 0.1);
      opacity: 0.0;
 }
  50% {
     opacity: 1.0;
 }
  100% {
     -webkit-transform: scale(1.2, 1.2);
     transform: scale(1.2, 1.2);
      opacity: 0.0;
 }
}
@keyframes pulsate {
  0% {
     -webkit-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0.0;
 }
  50% {
     opacity: 1.0;
 }
  100% {
     -webkit-transform: scale(1.2, 1.2);
     transform: scale(1.2, 1.2);
     opacity: 0.0;
 }
}
@-webkit-keyframes animatezoom {
  from {
     -webkit-transform: scale(0);
     transform: scale(0)
 }
  to {
     -webkit-transform: scale(1);
     transform: scale(1)
 }
}
@keyframes animatezoom {
  from {
     transform: scale(0)
 }
  to {
     transform: scale(1)
 }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
 }
  .cancelbtn {
      width: 100%;
 }
  .submitbtn {
      width: 100%;
 }
}
